<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Bifrost - UiT Studentavis">
    <meta name="keywords" content="UiT Academica Student University Newspaper Local News">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Bifrost - UiT Studentavis">
    <meta property="og:description" content="Bifrost - UiT Studentavis">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{url_for('static', filename='media/icon.png')}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bifrost - UiT Studentavis">
    <meta name="twitter:description" content="Bifrost - UiT Studentavis">
    <meta name="twitter:image" content="{{url_for('static', filename='media/icon.png')}}">


    <title>Bifrost - UiT Studentavis</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='media/icon.png')}}" />
</head>

<body class="p-12">

    {% include "components/header.jinja" %}

    {% block body %}

    {% endblock body %}

    <script src="{{url_for('static', filename='js/article_list.js')}}"></script>
    <script src="{{url_for('static', filename='js/renderer.js')}}"></script>
    <script src="{{url_for('static', filename='js/user.js')}}"></script>
</body>

</html>