{% extends "pages/base.jinja" %}

{% block body %}

<template id="article-paragraph-template">
    <div class="p-2 bg-green-400">
        <p>Paragraf</p>
        <button class="delete-button bg-red-600 text-white rounded-md p-2">DELETE</button>
        <button class="move-up-button bg-blue-600 text-white rounded-md p-2">MOVE UP ⬆️</button>
        <button class="move-down-button bg-blue-600 text-white rounded-md p-2">MOVE DOWN ⬇️</button>
        <textarea rows="5" class="w-full paragraph-input"></textarea>
    </div>
</template>

<template id="article-image-template">
    <div class="p-2 bg-green-400">
        <p>Bilde</p>
        <button class="delete-button bg-red-600 text-white rounded-md p-2">DELETE</button>
        <button class="move-up-button bg-blue-600 text-white rounded-md p-2">MOVE UP ⬆️</button>
        <button class="move-down-button bg-blue-600 text-white rounded-md p-2">MOVE DOWN ⬇️</button>
        <img class="image-display w-full hidden" />
        {# image picker container #}
        <div class="w-full">
            <button class="bg-yellow-300 p-2 image-gallery-select">
                Click to select from gallery
            </button>
            <button class="bg-yellow-300 p-2 image-gallery-upload">
                Click to upload media
            </button>
        </div>

        <p>Alt-text:</p>
        <input class="w-full image-alt-text-input" />
    </div>
</template>

<template id="article-heading-template">
    <div class="p-2 bg-green-400">
        <p>Heading</p>
        <button class="delete-button bg-red-600 text-white rounded-md p-2">DELETE</button>
        <button class="move-up-button bg-blue-600 text-white rounded-md p-2">MOVE UP ⬆️</button>
        <button class="move-down-button bg-blue-600 text-white rounded-md p-2">MOVE DOWN ⬇️</button>

        {# image picker container #}
        <input type="text" class="w-full editor-article-heading-input" />
    </div>
</template>

<template id="draft-controlls-template">
    <div class="draft-controlls">
        <button class="new-draft-button">New Draft</button>
        <ol class="draft-render-list">
        </ol>
    </div>
</template>

<template id="draft-preview-template">
    <button class="delete-draft-button bg-red-500 p-2">Delete draft</button>
    <button class="edit-draft-button bg-green-500 p-2">Edit draft</button>
    <h1 class="draft-render-title"></h1>
    <p class="draft-render-description"></p>
</template>


<template id="draft-editor-controlls">
    <div class="pb-4">
        <div class="p-[4px] bg-green-200">
            <input id="editor-article-title-input" type="text" class="p-2 border-b h-full w-full" placeholder="Title">
        </div>
    </div>

    <ol id="editor-container" class="space-y-4">
    </ol>

    <button id="log-article" class="p-2 bg-blue-500 rounded-md text-white">
        Log Article
    </button>


    <button id="add-paragraph" class="p-2 bg-slate-800 rounded-md text-white">
        Add paragraph
    </button>


    <button id="add-image" class="p-2 bg-slate-800 rounded-md text-white">
        Add media
    </button>

    <button id="add-heading" class="p-2 bg-slate-800 rounded-md text-white">
        Add heading
    </button>
</template>

<div id="editor-app-view">
</div>


{% endblock body %}