{% extends "pages/base.jinja" %}

{% block body %}

<template id="article-paragraph-template">
    <div class="p-2 bg-green-400">
        <p>Paragraf</p>
        <button class="delete-button bg-red-600 text-white rounded-md p-2">DELETE</button>
        <button class="move-up-button bg-blue-600 text-white rounded-md p-2">MOVE UP ⬆️</button>
        <button class="move-down-button bg-blue-600 text-white rounded-md p-2">MOVE DOWN ⬇️</button>
        <textarea rows="5" class="w-full paragraph-input"></textarea>
    </div>
</template>

<template id="article-image-template">
    <div class="p-2 bg-green-400">
        <p>Bilde</p>
        <button class="delete-button bg-red-600 text-white rounded-md p-2">DELETE</button>
        <button class="move-up-button bg-blue-600 text-white rounded-md p-2">MOVE UP ⬆️</button>
        <button class="move-down-button bg-blue-600 text-white rounded-md p-2">MOVE DOWN ⬇️</button>
        <img class="image-display w-full hidden" />
        {# image picker container #}
        <div class="w-full">
            <button class="bg-yellow-300 p-2 image-gallery-select">
                Click to select from gallery
            </button>
            <button class="bg-yellow-300 p-2 image-gallery-upload">
                Click to upload media
            </button>
        </div>

        <p>Alt-text:</p>
        <input class="w-full image-alt-text-input" />
    </div>
</template>

<template id="article-heading-template">
</template>

<ol id="editor-container" class="space-y-4">

</ol>

<button id="log-article" class="p-2 bg-blue-500 rounded-md text-white">
    Log Article
</button>


<button id="add-paragraph" class="p-2 bg-slate-800 rounded-md text-white">
    Add paragraph
</button>


<button id="add-image" class="p-2 bg-slate-800 rounded-md text-white">
    Add media
</button>

<button id="add-heading" class="p-2 bg-slate-800 rounded-md text-white">
    Add heading
</button>





<script src="{{url_for('static', filename='js/editor.js')}}"></script>
{% endblock body %}