{% extends "pages/base.jinja" %}

{% block body %}

<div class="grid grid-cols-2 gap-12 pt-12">

    {# Sign in #}
    <div class="grid grid-cols-2 gap-4 h-fit my-auto p-12 bg-gray-200 rounded-md shadow-md">
        <h1 class="text-xl col-span-2">
            Sign in to existing user
        </h1>
        <p>
            Email
        </p>
        <input id="user-signin-email-input" type="text" class="border bg-slate-100 p-2" />
        <p>
            Password
        </p>
        <input id="user-signin-password-input" type="password" class="border bg-slate-100 p-2" />
        <button id="user-signin-submitt-button" class="col-span-2 bg-blue-400 p-2 rounded-md">
            Sign In
        </button>
    </div>


    {# Register #}
    <div class="grid grid-cols-2 gap-4 h-fit my-auto p-12 bg-gray-200 rounded-md shadow-md">
        <h1 class="text-xl col-span-2">
            Register a new account
        </h1>
        <p>
            First name
        </p>
        <input id="user-register-first-name-input" type="text" class="border bg-slate-100 p-2" />
        <p>
            Last name
        </p>
        <input id="user-register-last-name-input" type="text" class="border bg-slate-100 p-2" />
        <p>
            Email
        </p>
        <input id="user-register-email-input" type="text" class="border bg-slate-100 p-2" />
        <p>
            Password
        </p>
        <input id="user-register-password-input" type="password" class="border bg-slate-100 p-2" />
        <p>
            Repeat Password
        </p>
        <input id="user-register-password-repeat-input" type="password" class="border bg-slate-100 p-2" />
        <button id="user-register-submitt-button" class="col-span-2 bg-green-600 p-2 rounded-md text-white">
            Register
        </button>
    </div>
</div>

{% endblock body %}