<template class="user-details-login-template">
    <p>
        Not logged in
    </p>
    <a href="/signin">
        Click here to log in
    </a>
</template>


<template class="user-details-profile-template">
    <div class="flex">
        <p>
            Welcome
            <span id="user-profile-first-name"></span>
            <span id="user-profile-last-name"></span>
        </p>
        <button id="user-profile-logout-button" class="bg-gray-200 p-2 text-sm mr-0 ml-auto">
            logout
        </button>
    </div>
</template>

<div>
    {# First row hero + user-stuff #}
    <div class="flex w-full">
        <a href="/" class="text-xl font-bold w-full">
            <h1>
                Bifrost - Studentavisa ved UiT
            </h1>
        </a>
        <div class="w-full user-details-container">
            test
        </div>
    </div>
    <div class="flex gap-4 py-4">
        <a href="/editor" class="border rounded-md p-2">
            editor
        </a>
        <a href="/gallery" class="border rounded-md p-2">
            gallery
        </a>
    </div>
</div>