<template class="user-details-login-template">
    <p>
        Not logged in
    </p>
    <a>
        Click here to log in
    </a>
</template>


<template class="user-details-profile-template">
    <p>
        Welcome user
    </p>
</template>


<div class="flex w-full">
    <h1 class="text-xl font-bold w-full">
        Bifrost - Studentavisa ved UiT
    </h1>
    <div class="w-full user-details-container">
        test
    </div>
</div>